.navbar {
    background-color: #192a56;
    padding: 20px;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 23px;
    transition: color 0.3s;
    padding: 15px;
    margin-right: 34px;
  }

  /* Default styles for the cart quantity */
.cart-quantity {
  display: inline-block;
  background-color: transparent;
  border-radius: 50%;
  padding: 0px 5px;
  color: red;
  position: relative;
  bottom: 11px;
}

/* Additional styles to show the background when quantity is greater than 0 */
.cart-quantity.show {
  background-color: red; /* Set a background color when quantity is greater than 0 */
  color: white; /* Text color when background is shown */
}

  
  .nav-link:hover {
    color: red;
  }
  
  @media (max-width: 768px) {
    .navbar {
      justify-content: center;
    }
  
    .nav-item {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  